extends layout

block content
  h1=title
  ul.errors
    if errors
      each error, i in errors
        li.alert-danger #{error.msg}
  
  form(method='post', action='/posts/add', enctype='multipart/form-data')
    .form-group
      label Title:
      input.form-control(name='title', type='text')
    .form-group
      label Category
      select.form-control(name='category')
        each category, i in categories
          option(value='#{category.title}') #{category.title}
    .form-group
      label Body:
      textarea.form-control(name='body', id='body')
    .form-group
      label Thumbnail Image
      input.form-control(name='thumbimage', type='file')
    input.btn.btn-default(name='submit', value='Save', type='submit')
      
    script(src='/ckeditor/ckeditor.js')
    script
      | CKEDITOR.replace('body')