<h4>Latest Classes</h4>
{{#each classes}}
  <div class="col_4 block">
  <h4>{{title}}</h4>
  <p>{{description}}</p>
  <a class="button" href="/classes/{{_id}}/details">Class Details</a>
  </div>
{{/each}}