<h3>Welcome to eLearn</h3>
<p>eLearn is a simple and free online learning platform. Instructors can create courses and students can register for courses which include assignments, guizes and support forums.
</p>
<a class="button" href="/users/signup">Sing Up Free</a>
<p>You need to singup to register for free clases</p>