<!DOCTYPE html>
<html>
	<head>
	<title>HTML KickStart Elements</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<meta name="copyright" content="" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  <!-- KICKSTART -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                          <!-- CUSTOM STYLES -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/kickstart.js"></script>                                  <!-- KICKSTART -->
	</head>
<body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>
</ul>

<div class="grid">

<!-- ===================================== END HEADER ===================================== -->

<div class="col_12">
	<div class="col_9">
		{{{messages}}}
		{{#if errors}}
			{{#each errors}}
					<div class="notice error"><i class="icon-remove-sign icon-large"></i>
						{{msg}}
						<a href='#close' class="icon-remove"></a>
					</div>
			{{/each}}
		{{/if}}
		{{{body}}}
	</div>

	<div class="col_3">
		{{>login}}
	</div>

	<hr />

	{{#if isHome}}

		{{>classes}}
	{{/if}}
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2011–2012 All Rights Reserved. This website was built with <a href="http://www.99lime.com">HTML KickStart</a>
</div>

</body></html>